.imgLogo{
width: 40%;
}
.p-imgLogo{
    text-align: center;
}
.bg-custom{
    background-color: white;
}
.spanTitleNavBar{
    color: crimson;
    font-weight: bold;
    font-size: 23px;
}
#basketPhoto{
    width: 30px;
}
#numPageUl{
    margin-top: 20px;
}
body{
    font-family: 'Playfair Display SC', serif;
}
.divModalBot{
    background-color: #B22222;
    height: 30px;
    color: white;
    font-size: 15pt;
    text-align: center;
    border-radius: 3px;
}
#qrCode{
    cursor:pointer;
}