.imgLogo{
    width: 40%;
    }
.p-imgLogo{
        text-align: center;
}
.bg-custom{
    background-color: white;
}
.spanTitleNavBar{
    color: crimson;
    font-weight: bold;
    font-size: 23px;
}
#basketPhoto{
    width: 30px;
}
#numPageUl{
    margin-top: 20px;
}
.photoCenter{
    text-align: center;
}
.pCenter{
    text-align: center;
}